.section {
  width: 100%;
  height: 40.438rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section h4 {
  font-size: 1.2rem;

  @media (min-width: 1024px) {
    font-size: 1.75rem;
  }
}

.title {
  width: 100%;
  max-width: 75rem;
  height: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #cfcfcf;

  @media (min-width: 1024px) {
    height: 3.375rem;
  }
}

.detail {
  color: transparent;
  width: 20%;
  border-bottom: 3px solid #32bcad;
}

.products {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-x: scroll;

  scrollbar-color: transparent;
  scrollbar-width: thin;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.products::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}
.products::-webkit-scrollbar-track {
  background: transparent;
}
.products::-webkit-scrollbar-thumb {
  background-color: #32bcad;
  border-radius: 8px;
}

.productsContainer {
  max-width: 75rem;
  margin-top: 2rem;
  margin-left: 29rem;

  display: flex;
  justify-content: center;
  gap: 1rem;

  @media (min-width: 688px) {
    margin-left: 0;
  }

  @media (min-width: 1024px) {
    margin-left: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
